@media screen and (min-width: 1200px) {
    .logo{
        position: absolute;
        left: calc(50% - 570px);
    }
    .top_line .button{
        right: calc(50% - 560px);
    }
    .bottom_line{
        top: 60%;
    }
}
@media screen and (max-width: 1100px) {
    .top_line ul {
        margin-left: calc(45% - 350px);
    }
}

@media screen and (max-width: 1000px) {
    .top_line ul li a {
        font-size: .9em;
        margin: 0 .7em;
    }
}

@media screen and (max-width: 992px) {
    .plan .block {
        width: 100%;
        padding: 15px;
    }
    .item_1, .item_2, .item_3{
        max-width: 33.3333333%;
        float: left;
    }
}

@media screen and (max-width: 850px) {
    .top_line ul li a {
        font-size: .85em;
        margin: 0 .6em;
    }
}
@media screen and (max-width: 767px) {
    .item_1, .item_2, .item_3{
        max-width: 50%;
        float: left;
    }
    .hide_medium{
        display: none;
    }
    .bottom_line{
        left: 15%;
        width: 70%;
    }
    .bottom_line input[type="text"] {
        width: 70%;
    }
    .bottom_line input[type="submit"] {
        width: 30%;
    }
    .top_line ul {
        display: none;
    }
    .logo{
        margin-left: 50px;
    }
    .hamburger{
        display: inline-block;
        left: 25px;
    }
    .sm-hidden{
        display: none;
    }
}
@media screen and (max-width: 620px) {
    .middle {
        top: 15%;
    }
    .bottom_line {
        top: 67%;
        left: 10%;
        width: 80%;
    }
}
@media screen and (max-width: 530px) {
    .background-wrap, .background-wrap video{
        min-height: 380px;
    }
    video{
        min-width: 180%;
    }
    .top_line .button{
        display: none;
    }
    .middle {
        top: 20%;
    }
    .middle h1{
        max-width: 85%;
    }
    .middle p{
        max-width: 85%;
    }
    .bottom_line {
        left: 4%;
        width: 93%;
    }
    .bottom_line input[type="text"] {
        width: 80%;
    }
    .bottom_line input[type="submit"] {
        width: 20%;
    }
    .benefits .my_icon{
        border: none;
        float: left;
        padding: 5px 25px 5px 5px;
    }
    .benefits img {
        max-height: 75px;
    }
    .benefits .col-xs-4, .plan .col-xs-4{
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }
    .benefits h4{
        margin-top: 5px;
    }
    .benefits .descr {
        max-width: 99%;
        margin-left: 105px;
    }
    .plan img{
        margin-bottom: 0;
    }
    .plan .block div{
        width: calc(100% - 80px);
        display: inline-block;
        vertical-align: top;
    }
    .plan h4 {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        margin-top: 0;
        max-width: 100%;
    }
    .plan .button{
        width: calc(100% - 30px);
        margin-top: 0;
    }
    .plan .block .descr{
        margin: 0 0 0 10px;
        max-width: 100%;
    }
    footer{
        padding: 0;
        max-height: 100px;
    }
    footer .col-xs-3{
        width: 100%;
        text-align: center;
    }
    footer span.header{
        display: none;
    }
    footer ul{
        display: none;
    }
}
@media screen and (max-width: 450px) {
    .bottom_line input[type="submit"] {
        color: #aa8c67;
    }
    .bottom_line form::after{
        display: block;
    }
    .guidance .slider_hidden{
        display: block;
    }
    .guidance .small_screen_hidden{
        display: none;
    }
    .benefits, .plan{
        padding: 30px 0;
    }
    .guidance, .my_slider {
        padding: 30px 0 50px 0;
    }
    .benefits h2, .plan h2, .guidance h2 {
        font-size: 1.85em;
    }
    .guidance .hide_large{
        display: block;
    }
}

@media screen and (max-height: 430px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 1em;}
}
@media screen and (max-width: 400px) {
    .middle h1{
        font-size: 2em;
        max-width: 100%;
    }
    .middle p{
        max-width: 100%;
    }
    video{
        min-width: 230%;
    }
}
@media screen and (max-width: 350px) {
    .middle h1{
        max-width: 90%;
        margin-left: 6%;
    }
    .middle p{
        max-width: 90%;
        margin-left: 6%;
    }
    .item_1, .item_2, .item_3{
        max-width: 100%;
        display: block;
    }
    .hide_small{
        display: none;
    }
}
