@font-face {
    font-family: "Ionicons";
    src: url('../fonts/icons/ionicons.eot');
    src: url('../fonts/icons/ionicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icons/ionicons.woff') format('woff'),
    url('../fonts/icons/ionicons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/MontserratBold/Montserrat-Bold.eot');
    src: url('../fonts/MontserratBold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MontserratBold/Montserrat-Bold.woff') format('woff'),
    url('../fonts/MontserratBold/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArabicTypesetting';
    src: url('../fonts/ArabicTypesetting.eot');
    src: url('../fonts/ArabicTypesetting.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArabicTypesetting.woff') format('woff'),
    url('../fonts/ArabicTypesetting.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
::-webkit-input-placeholder {color:#b1b1b1;}
::-moz-placeholder          {color:#b1b1b1;}/* Firefox 19+ */
:-moz-placeholder           {color:#b1b1b1;}/* Firefox 18- */
:-ms-input-placeholder      {color:#b1b1b1;}
ul{
    list-style-type: none;
}
body a:visited, body a:active, body a:focus{
    text-decoration: none;
    color: #fff;
}
/* The side navigation menu */
.sidenav {
    width: 0; /* 0 width - change this with JavaScript */
    height: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 25px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 3px 3px 3px 25px;
    text-decoration: none;
    font-size: 1em;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav a.not_active{
    color:#727272;
    transition: all ease-in-out 0.3s;
}
.sidenav a.not_active:hover{
    color:#fff;
    transition: all ease-in-out 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    transition: color ease-in-out 0.4s;
}
.sidenav .closebtn:hover{
    color: #bc996f;
    transition: color ease-in-out 0.4s;
}
.background-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
video{
    height: 100%;
    width: 100%;
    min-width: 100%;
    overflow: hidden;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}
.main_inner{
    position: relative;
}




.top{
    position: absolute;
    top: 1%;
    left: 3%;
    width: 94%;
}
.top_line {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1% 0;
}
.logo {
    display: inline-block;
    vertical-align: top;
}
.logo a {
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    transition: all ease-in-out 0.4s;
}
.logo a:hover{
    text-decoration: none;
    color: #aa8c67;
    transition: all ease-in-out 0.4s;
}
.top_line ul, .top_line ul li{
    display: inline-block;
    margin-top: 4px;
}
.top_line ul{
    margin-left: calc(50% - 350px);
}
.top_line ul li a{
    display: inline-block;
    color: #fff;
    font-size: 1em;
    transition: all ease-in-out 0.4s;
    text-transform: capitalize;
    margin: 0 1.1em;
    text-decoration: none;
}
.top_line ul li a:hover{
    color: #aa8c67;
    transition: all ease-in-out 0.4s;
    text-decoration: none;
}
.button {
    background-color: #7dac3f;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    margin-top: -7px;
    height: 50px;
    width: 165px;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    transition: all ease-in-out 0.4s;
    position: absolute;
    right: 0;
}
.button:hover{
    transition: all ease-in-out 0.4s;
    color:#aa8c67 ;
    text-decoration: none;
}
.middle{
    position: absolute;
    top: 30%;
    left: calc(50% - 12em);
    display: inline-block;
}
.middle h1 {
    max-width: 11em;
    text-align: center;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    font-size: 2.2em;
}
.middle p{
    color:#c7c0a5 ;
    width: 100%;
    text-align: center;
    margin-top: -.5em;
}
.bottom_line{
    position: absolute;
    top: 73%;
    left: calc(50% - 18em);
    max-width: 100%;
}
.bottom_line form{
    height: 3.5em;
}
.bottom_line form::after{
    content: "\f105";
    display: none;
    position: absolute;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    height: 30px;
    width: 30px;
    right: 3%;
    top: -6px;
    font-size: 3em;
    color: #fff;
}
.bottom_line input[type="text"] {
    width: 24em;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    vertical-align: top;
    padding-left: 40px;
    color: #b1b1b1;
    box-sizing: border-box;
}
.bottom_line input[type="submit"] {
    width: 12em;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    background-color: #aa8c67;
    text-align: center;
    line-height: 3.5em;
    margin-left: -5px;
    vertical-align: top;
    color: #fff;
}
.location {
    display: block;
    position: absolute;
    left: 7px;
    top: 4px;
    height: 37px;
    width: 31px;
}
span.left, span.right {
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: calc(50% - 30px);
    height: 26px;
    background-color: white;
}
span.right {
    right: 0;
}
span.left {
    left: 0;
}
span.left::after, span.right::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 15px solid;
    position: absolute;
    top: 0;
}
span.left::after {
    right: -30px;
    border-color: transparent transparent #fff #fff;
}
span.right::after {
    left: -30px;
    border-color: transparent #fff #fff transparent;
}
#cover{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    margin: 0;
    transition: margin ease-in-out 0.5s;
}
.toTop{
    position: absolute;
    bottom: 16px;
    display: inline-block;
    height: 30px;
    left: calc(50% - 15px);
    animation: move 2s infinite linear;
}
.toTop img{
    max-height: 30px;
}
@keyframes move {
  50% {
    bottom: 8px;
    animation-timing-function: ease-in-out;
    }
  100% {
    animation-timing-function: ease-in-out;
    bottom: 16px;
    }
}



.content{
    position: relative;
}
.benefits, .plan, .guidance, .my_slider{
    display: block;
    padding: 50px 0;
}
.benefits h2, .plan h2, .guidance h2{
    font-size: 2em;
    text-align: center;
    margin-bottom: 50px;
    color: #000;
}
.benefits .my_icon{
    display: inline-block;
    border: 1px solid #629b17;
    border-radius: 50%;
    padding: 25px;
}
.benefits img{
    max-height: 60px;
    position: relative;
    display: inline-block;
}
.benefits img::after{
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    background-color: transparent;
    left: 0;
    bottom: -1px;
    transition: width ease 0.4s;
    border: 1px solid #609914;
}
.benefits h4{
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 40px;
    color: #000;
}
.benefits .descr{
    max-width: 250px;
    margin: 0 auto;
}


.plan, .guidance{
    display: block;
    width: 100%;
    background-color: #f5f5f5;
}
.plan img{
    max-height: 70px;
    max-width: 70px;
    position: relative;
    margin-bottom: 20px;
}
.plan .block{
    background-color: #fff;
    width: 95%;
    border-radius: 10px;
    padding: 20px 15px 10px 15px;
}
.plan h4{
    color: #000;
}
.plan .block .descr{
    max-width: 66%;
    margin: 0 auto;
    color: #828282;
}
.plan .button{
    margin-top: 70px;
    position: relative;
}


.my_slider h2{
    font-size: 2em;
    text-align: center;
    margin-bottom: 50px;
    color: #000;
}

.my_slider .bxslider h5{
    color: #000;
    font-size: 1em;
    font-weight: bold;
}
.my_slider .bxslider .stars{
    margin-bottom: 10px;
}
.my_slider .bxslider .stars img{
    max-width: 15px;
    display: inline-block;
}
/*#myCarousel .carousel-indicators{
    bottom: -40px;
    left: calc(50% - 40px);
    max-width: 80px;
    margin-left: 0;
}
#myCarousel .carousel-indicators li{
    background-color: #d6d6d6;
    margin: 5px;
    height: 10px;
    width: 10px;
    border: none;
}
#myCarousel .carousel-indicators .active{
    background-color: #b0b0b0;
}*/


.my_slider .carousel-inner .item h5{
    color: #000;
    font-size: 1em;
    font-weight: bold;
}
.my_slider .carousel-inner .stars{
    margin-bottom: 10px;
}
.my_slider .carousel-inner .stars img{
    max-width: 15px;
    display: inline-block;
}




.guidance img{
    border-radius: 10px;
}
.guidance .date{
    color: #ccc;
}
.guidance h3{
    color: #000;
}
.guidance .descr{
    color: #000;
}
.guidance .bxslider li div{
    padding: 0 15px;
}
.guidance .slider_hidden{
    display: none;
}
.guidance .hide_large{
    display: none;
}

footer{
    display: block;
    width: 100%;
    background-color: #323232;
    padding: 45px 0;
    color: #fff;
    position: relative;
}
footer h4{
    font-size: 2em;
    color: #fff;
}
footer .grey{
    color:#5e5e5e;
    font-size: 0.8em;
}
footer span.header{
    color:#ba986e;
    margin-bottom: 15px;
    display: block;
}
footer a{
    color: #fff;
    transition: all ease-in-out 0.4s;
}
footer a:hover{
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.4s;
    color: #aa8c67;
}
footer ul{
    padding-left: 0;
}
footer ul li{
    padding: 0.5em 0;
}






.hamburger{
    position: absolute;
    top: 1.5%;
    left: 0;
    color: #fff;
    font-size: 2em;
    display: none;
}


